{port_sources, ["c_src/*.cpp"]}.
{so_name, "egm_nifs.so"}.

{port_envs, [
             {"CXXFLAGS", "$CXXFLAGS -I/usr/include/ImageMagick"},
             {"LDFLAGS", "$LDFLAGS -L/usr/lib -lMagickCore -llcms -ltiff -lfreetype -ljpeg -lXext -lSM -lICE -lX11 -lXt -lbz2 -lz -lm -lgomp -lpthread -lltdl -lstdc++"}]}.


