{port_sources, ["c_src/*.cpp"]}.
{so_name, "egm_nifs.so"}.
{port_envs, [{"CXXFLAGS", "$CXXFLAGS -I/usr/include/ImageMagick"},
             {"LDFLAGS", "$LDFLAGS -L/usr/lib -lMagickWand -lstdc++"}]}.

{eunit_opts, [{timeout, 10, {egm,resize_test}}]}.
{sub_dirs, ["rel"]}.
{deps, [
    {riakc, ".*", {git, "https://github.com/basho/riak-erlang-client.git", "master"}}
]}.
